<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hotscenes</key>
	<array>
		<string>张家界</string>
		<string>天津之眼</string>
		<string>黄山</string>
		<string>北戴河</string>
		<string>乌镇</string>
		<string>千岛湖</string>
		<string>冰峪沟</string>
		<string>乔家大院</string>
		<string>大研古城</string>
		<string>西湖</string>
		<string>少林寺</string>
		<string>武夷山</string>
		<string>西街</string>
		<string>崇明岛</string>
		<string>木兰围场</string>
		<string>周庄</string>
		<string>普陀山</string>
		<string>金刀峡</string>
		<string>虎跳峡</string>
		<string>白洋淀</string>
		<string>大明湖</string>
		<string>灵隐寺</string>
		<string>桃花岛</string>
		<string>华山</string>
		<string>皇城相府</string>
		<string>青海湖</string>
		<string>白马寺</string>
		<string>镜泊湖</string>
		<string>天池</string>
		<string>三峡大坝</string>
		<string>神农架</string>
		<string>九寨沟</string>
		<string>鲁迅故里</string>
		<string>济州岛</string>
		<string>瘦西湖</string>
		<string>武当山</string>
		<string>颐和园</string>
		<string>天坛</string>
		<string>泰山</string>
		<string>香格里拉</string>
		<string>峨眉山</string>
		<string>蓬莱阁</string>
		<string>鼓浪屿</string>
		<string>兵马俑</string>
		<string>大理古城</string>
		<string>洋人街</string>
		<string>四姑娘山</string>
		<string>大角湾</string>
		<string>西双版纳</string>
		<string>绵山</string>
		<string>天台山</string>
		<string>千山</string>
		<string>张北草原</string>
		<string>黑山谷</string>
		<string>寒山寺</string>
		<string>大相国寺</string>
		<string>赤山</string>
		<string>江北水城</string>
		<string>长岛</string>
		<string>故宫</string>
		<string>香山</string>
	</array>
	<key>pictureList</key>
	<array>
		<string>1-1</string>
		<string>1-2</string>
		<string>2-1</string>
		<string>2-2</string>
		<string>3-1</string>
		<string>3-2</string>
		<string>4-1</string>
		<string>4-2</string>
		<string>5-1</string>
		<string>5-2</string>
		<string>6-1</string>
		<string>7-1</string>
		<string>7-2</string>
		<string>8-2</string>
		<string>8-3</string>
		<string>9-1</string>
		<string>9-2</string>
		<string>10-1</string>
	</array>
	<key>TripView</key>
	<dict>
		<key>衡水湖夜泊</key>
		<string>1-1</string>
		<key>走一遭海岛金山寺</key>
		<string>2-1</string>
		<key>淮北市博物馆走走</key>
		<string>3-1</string>
		<key>说走就走！武汉出发，山东曲阜泰安济南四日独行~</key>
		<string>4-1</string>
		<key>通州运河公园</key>
		<string>5-1</string>
		<key>天津武清佛罗伦萨小镇</key>
		<string>6-1</string>
		<key>自驾游之天津西青沙窝萝卜产地</key>
		<string>7-1</string>
		<key>三天两夜，漫步天津</key>
		<string>8-2</string>
		<key>沧州特色旅游路线之青县之旅</key>
		<string>9-1</string>
		<key>沧州铁狮子</key>
		<string>10-1</string>
	</dict>
	<key>TripData</key>
	<dict>
		<key>衡水湖夜泊</key>
		<string>车接湖畔，放眼碧水，荷花连片，芦苇无垠，行风袭来，暑热顿消。席上，鱼鲜水禽水蝎荷叶巧制各色菜品，无不养目宜口，店主送上的鲜莲蓬，更让我一介北人，喜不释手，把玩而不忍剥籽吞噙，举箸间眼神不时巴望窗外，眺看湖面，成片的浮荷翻舞着叶伞，击打湖水，仿佛成群的迎客队伍，挥手相邀。</string>
		<key>走一遭海岛金山寺</key>
		<string>海岛金山寺位于山东省庆云县汾水王村西，隋代即有。该寺院建筑宏伟，大殿禅堂10余排，占地千余亩，僧侣众多，有骑着毛驴关山门之说。寺门之东即为汾水镇，居两水交汇处，乃水旱码头，游者香客络绎不绝，商贾云集，日进斗金。</string>
		<key>淮北市博物馆走走</key>
		<string>淮北市博物馆建于2001年8月，建筑面积10670平方米，集文物征集、考古、收藏、研究、展示于一身，馆藏文物1万多件。陈列区面积约8000平方米，分《运河遗韵》、《隋唐陶瓷》、《宋代陶瓷》、《淮北汉画像石》等8个展区。</string>
		<key>说走就走！武汉出发，山东曲阜泰安济南四日独行~</key>
		<string>我是一个喜欢一个人独自上路的年轻人，大学生嘛就应该多出去走走看看，而一个人在外主要就是人生地不熟，路程比较费脑经，但我整个行程下来坚决只坐公共交通，不打车、不租车、不拼车，一是省钱且方便，二是更加安全。</string>
		<key>通州运河公园</key>
		<string>公园围绕运河而建设，里面还是挺大的，有还多好玩的设施室内的室外的都有。不只是只有在草莓音乐节的时候去凑个热闹。公园适合一家人，小孩父母一起玩耍，感觉氛围会特别好。放放风筝，划小船等等也很是放松心情的好去处。适合自驾出去游玩哈。</string>
		<key>天津武清佛罗伦萨小镇</key>
		<string>7月份骄阳似火，一天路过佛罗伦萨小镇，我们就停车进去逛逛。其实早就知道这里是个奢侈品折扣一条街，但是我们现在基本与奢侈品无缘，也从来不去，只是这一天有点人困马乏，所以决定下去醒醒再开车，车进停车场，取出相机往里走。</string>
		<key>自驾游之天津西青沙窝萝卜产地</key>
		<string>元旦的第二天和两个朋友去西青郊外的沙窝萝卜产地，杨师傅接待了我们，带我们来到他承包种植的沙窝萝卜的大棚。我是第一次进入大棚里，进去后里面水气很大，湿漉漉的，杨师傅说这是保证萝卜口感的重要条件，大棚不是很宽，但是纵身比较深，要一亩地范围。</string>
		<key>三天两夜，漫步天津</key>
		<string>我曾说，在人生的某个时刻，你可以用一首许巍的歌儿或者李宗盛的歌儿来形容你当时的心境，说出的话无法收回，所以，我一直在从他们的歌词里为自己的前行找一个理由。</string>
		<key>沧州特色旅游路线之青县之旅</key>
		<string> “自从盘古开天地，三皇五帝到如今”一个美丽的传说赋予了青县浓厚的传奇色彩和文化气息。千百年来，开天辟地的盘古文化将其极为丰富而深刻的内涵延续古今，孕育着这片盘古选择的热土上繁衍的千秋子民</string>
		<key>沧州铁狮子</key>
		<string>1961年中华人民共和国国务院公布为第一批全国重点文物保护单位。1995年10月铁狮子对外开放，接待游客参观，建筑面积660多平方米，现设有：铁狮魂展览；林冲展馆；沧州旧城沙盘展馆；沧州武术展馆；沧州历代名人展；纪晓岚展馆；帝王帝后像展馆。</string>
	</dict>
	<key>Nameimage</key>
	<dict>
		<key>休闲</key>
		<string>label_xiuxian</string>
		<key>秘密</key>
		<string>label_mimi</string>
		<key>祝福</key>
		<string>label_zhufu</string>
		<key>购物</key>
		<string>label_shopping</string>
		<key>签到</key>
		<string>label_sign</string>
		<key>风景</key>
		<string>label_fengjing</string>
		<key>相遇</key>
		<string>label_xiangyu</string>
		<key>摄影</key>
		<string>label_sheying</string>
		<key>星记</key>
		<string>label_xingji</string>
		<key>音乐</key>
		<string>label_music</string>
		<key>奔跑</key>
		<string>label_run</string>
		<key>动物</key>
		<string>label_animal</string>
		<key>拍照</key>
		<string>label_photo</string>
		<key>礼物</key>
		<string>label_present</string>
		<key>超市</key>
		<string>label_chaoshi</string>
		<key>事件</key>
		<string>label_event</string>
		<key>WC</key>
		<string>label_wc</string>
		<key>银行</key>
		<string>label_bank</string>
		<key>发现</key>
		<string>label_find</string>
		<key>冷饮</key>
		<string>label_drink</string>
		<key>广告</key>
		<string>label_guanggao</string>
	</dict>
	<key>labelNames</key>
	<array>
		<string>休闲</string>
		<string>秘密</string>
		<string>祝福</string>
		<string>购物</string>
		<string>签到</string>
		<string>风景</string>
		<string>相遇</string>
		<string>摄影</string>
		<string>星记</string>
		<string>音乐</string>
		<string>奔跑</string>
		<string>动物</string>
		<string>拍照</string>
		<string>礼物</string>
		<string>超市</string>
		<string>事件</string>
		<string>WC</string>
		<string>银行</string>
		<string>发现</string>
		<string>冷饮</string>
		<string>广告</string>
	</array>
	<key>label_imageNames</key>
	<array>
		<string>label_xiuxian</string>
		<string>label_mimi</string>
		<string>label_zhufu</string>
		<string>label_shopping</string>
		<string>label_sign</string>
		<string>label_fengjing</string>
		<string>label_xiangyu</string>
		<string>label_sheying</string>
		<string>label_xingji</string>
		<string>label_music</string>
		<string>label_run</string>
		<string>label_animal</string>
		<string>label_photo</string>
		<string>label_present</string>
		<string>label_chaoshi</string>
		<string>label_event</string>
		<string>label_wc</string>
		<string>label_bank</string>
		<string>label_find</string>
		<string>label_drink</string>
		<string>label_guanggao</string>
	</array>
</dict>
</plist>
